# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

src/client/ip/client
src/client/ethernet/client
src/client/udp/client
src/client/tcp/client
src/client/over_tcp/client

src/server/ip/client
src/server/ethernet/client
src/server/udp/server
src/server/tcp/server

peda-session-client.txt
peda-session-server.txt

.vscode

bin/
